<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>login</title>
  </head>
  <body>
    <form action="/login_facbook" method="get">
      <button id="btn" type="submit">Login facebook</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#btn').click(() => {});
      });
    </script>
  </body>
</html>
